body {
  margin: 0px;
  font-family: Arial, sans-serif;
  background-color: gradient(
    180deg,
    #f0f0f0,
    #e0e0e0
  ); /* subtle gradient background */
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1036.95;
  height: 23;
  flex-wrap: wrap; /* helps on small screens */
  margin: 64px 120px 0px; /* more top space, less bottom */
}

.logo {
  color: #89c5cc;
  font-size: 22px;
}

/* Navigation */
#nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: regular;
  color: #1f1534;
  font-size: 18px;
}

.nav li {
  cursor: pointer;
}
body {
  align-items: center;
}

/* Main section */
main {
  max-width: 1036.95px;
  margin: 108.4px auto 45.4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Text side */
.text {
  width: 520px;
  height: 344px;
}

.text h1 {
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  line-height: 150%;
}

.text span {
  color: #89c5cc;
}

.text p {
  font-size: 16px;
  line-height: 160%;
  fill: #7d7987;
}

/* Button */
button {
  background-color: #69b99d;
  color: #f9f9f9;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  width: 156.93px;
  height: 56.33px;
  border-radius: 4px;
  font-family:
    DM Sans,
    sans-serif;
  font-size: 16px;
}

/* Image side */
.image {
  width: 520px;
  height: 515px;
  justify-self: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 592;
  height: 22;
  font-size: 14px;
  font-family: "Open Sans", mixed;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

footer p {
  color: #000000;
  text-align: center;
  margin-left: 50%;
  padding-bottom: 0px;
}

footer p span {
  font-weight: bold;
}

footer img {
  margin-left: px;
}

/*  TABLET VIEW */

@media (max-width: 900px) {
  .container {
    width: 90%;
  }

  .main {
    flex-direction: column;
    text-align: center;
  }

  .text,
  .image {
    width: 100%;
  }

  .text h1 {
    font-size: 26px;
  }

  .image {
    margin-top: 20px;
  }
}

/*  MOBILE VIEW */
@media (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .text h1 {
    font-size: 22px;
  }

  .text p {
    font-size: 13px;
  }

  button {
    width: 100%;
  }
}
